<div class="container bg-dark rounded-4 position-absolute top-50 start-50 translate-middle z-1" style="width: 500px;" >
    <!-- przycisk "x" nie dziala bo zmiennej nie chce zimportowac -->
    <!-- <button class="btn btn-dark mt-2" (click)="zmienDisplay()"><i class="bi bi-x-circle text-light fs-4"></i></button> -->
    <p class="text-white" style="margin: 10px;">Logowanie</p>
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
      <input type="text" class="form-control"  [(ngModel)]="this.login" id="floatingInput" placeholder="Name required">
      <input type="text" class="form-control"[(ngModel)]="this.password" type="password" id="floatingPassword" placeholder="Password" required>
      <button type="submit" (click)="zaloguj()" class="btn btn-secondary px-5" style="margin:10px;">Log in</button>
    </div>  
</div>