<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg m-4">
    <div class="container-fluid d-lg-flex align-items-center">

        <!-- MAIN PRZYCISK -->
        <a class="navbar-brand me-0 fs-2 fw-bold bg-secondary rounded-4 px-3 text-light" href="index.html" >
            <i class="bi bi-universal-access-circle text-black"> Store</i> 
        </a>

        <!-- PRZYCISKI -->
        <div class="d-lg-flex justify-content-lg-end align-items-center gap-4">
            <button (click)="toggleAdminDisplay()" *ngIf="userLoggedIn" class="btn btn-danger rounded-4 px-3 text-white">Admin panel</button>             

            <a *ngIf="!userLoggedIn" (click)="toggleLoginDisplay()" class="btn btn-secondary rounded-4 px-3 text-black">Logowanie</a>
            <a *ngIf="!userLoggedIn" (click)="toggleSignupDisplay()" class="btn btn-secondary rounded-4 px-3 text-black">Rejestracja</a>

            <button *ngIf="userLoggedIn" (click)="onLogout()" class="btn btn-secondary rounded-4 px-3 text-black">Log out</button>
            <button (click)="toggleCheckoutDisplay()" class="btn btn-secondary rounded-10 px-3"><img src="assets/shopping-cart.png" alt="Cart" width="30"></button>
        </div>

    </div>
</nav>

<!-- LOGIN -->
<div *ngIf="!isDisplayLogin">
    <app-user-login></app-user-login>
</div>

<!-- REJESTRACJA -->
<div *ngIf="!isDisplaySignup">
  <app-user-register></app-user-register>
</div>

<!-- ADMIN BUTTON -->
<div *ngIf="adminDisplay" class="container bg-dark rounded-4 position-absolute top-50 start-50 translate-middle z-1" style="width: 500px;">
  <button (click)="toggleAdminDisplay()" class="btn btn-dark mt-2"><i class="bi bi-x-circle text-light fs-4"></i></button>

    <!-- FORMULARZ ADMINA -->
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
      <form name="formDodawanie"> 
          <!-- NAZWA -->
          <input type="text" name="name" id="name" [(ngModel)]="nowyItem.name" placeholder="name" class="form-control" style="margin: 3px; width: 300px;">
          
          <!-- OPIS  -->
          <div class="mb-3"  style="margin: 3px; width: 300px;">
            <textarea name="description" class="form-control"  placeholder="description" id="description" rows="3" [(ngModel)]="nowyItem.description"></textarea>
          </div>

          <!-- CENA -->
          <input name="price" type="number" class="form-control " id="price" [(ngModel)]="nowyItem.price" placeholder="price" style="margin: 3px; width: 300px;">

          <!-- WYBIERANIE KATEGORII -->
          <select name="category" id="category" [(ngModel)]="nowyItem.category" style="margin: 3px; width: 300px; text-align: center;">
            <option value="T-shirt">T-shirt</option>
            <option value="Hat">Hat</option>
            <option value="Pants">Pants</option>
          </select>
          <br>
            
          <!-- DODAWANIE -->
          <button (click)="dodajItem()" type="submit" class="btn btn-secondary px-5" style="margin: 3px; width: 300px; margin-bottom: 50px;">Add item</button>
      </form>
    </div>
</div>


<!-- CART -->
<div *ngIf="!isDisplayCheckout" class="container-flex position-absolute top-50 start-50 translate-middle z-1">
    <div class="d-flex flex-row bg-dark rounded-4 mt-5 text-light" style="width: 1000px; height: 800px;">

      <div class="d-flex flex-column">
        <button (click)="toggleCheckoutDisplay()" class="btn btn-dark mt-2"><i class="bi bi-x-circle text-light fs-4"></i></button>
      </div>

      <div class="d-flex flex-row justify-content-between" style="width: 900px;">
        <div class="d-flex flex-column mt-5" id="cartContent"></div>
        <div class="d-flex flex-column bg-secondary p-5 justify-content-between">
          <div>
            <h1 id="cartPrice" style="text-align: center;">0 zł</h1> 
            <button class="btn btn-primary text-center" style="text-align: center; margin-top: 20px;" (click)="ClearCart()"> Clear Cart</button>
          </div>
          <button class="btn btn-primary">CHECKOUT</button>
        </div>
      </div>

    </div>
  </div>

<!-- ITEMS -->
<div class="d-flex flex-row flex-wrap  justify-content-center align-items-center z-0">
   
    <div *ngFor="let item of items" class="d-flex flex-wrap justify-content-center gap-5 p-5">
        <app-item [przedmiot]="item" (itemUsuniety)="itemUsuniety(item)"></app-item>
    </div>

</div>